---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import OpeningHours from '../components/OpeningHours.astro';
import ContactLocation from '../components/ContactLocation.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Tierarzt am Spittelberg - Wien | Dr. Rippel" description="Moderne Tiermedizin in Wien 1070. Röntgen, Ultraschall, Chirurgie, Laser, Endoskopie, Labor und ganzheitliche Medizin. Online Terminbuchung verfügbar.">
  <Header />
  <main>
    <Hero />
    <Services />
    <OpeningHours />
    <ContactLocation />
  </main>
  <Footer />
</Layout>
